In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/usa-cers-dataset/USA_cars_datasets.csv

In [2]:
df = pd.read_csv('/kaggle/input/usa-cers-dataset/USA_cars_datasets.csv')
df

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [3]:
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [4]:
df['brand'].value_counts()

brand
ford               1235
dodge               432
nissan              312
chevrolet           297
gmc                  42
jeep                 30
chrysler             18
bmw                  17
hyundai              15
buick                13
kia                  13
infiniti             12
honda                12
mercedes-benz        10
cadillac             10
heartland             5
audi                  4
land                  4
peterbilt             4
acura                 3
mazda                 2
lexus                 2
lincoln               2
toyota                1
harley-davidson       1
jaguar                1
maserati              1
ram                   1
Name: count, dtype: int64

In [5]:
df['brand'].nunique()

28

## 1. ONEHOT ENCODING USING PANDAS

In [6]:
pd.get_dummies(df,columns=['model','title_status','color',])

,Unnamed: 0,price,brand,year,mileage,vin,lot,state,country,condition,...,color_silver,color_super black,color_tan,color_toreador red,color_triple yellow tri-coat,color_turquoise,color_tuxedo black metallic,color_white,color_white platinum tri-coat metallic,color_yellow
0,0,6300,toyota,2008,274117.0,jtezu11f88k007763,159348797,new jersey,usa,10 days left,...,False,False,False,False,False,False,False,False,False,False
1,1,2899,ford,2011,190552.0,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,...,True,False,False,False,False,False,False,False,False,False
2,2,5350,dodge,2018,39590.0,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,...,True,False,False,False,False,False,False,False,False,False
3,3,25000,ford,2014,64146.0,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,...,False,False,False,False,False,False,False,False,False,False
4,4,27700,chevrolet,2018,6654.0,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,2019,23609.0,3n1cn7ap9kl880319,167722715,california,usa,1 days left,...,False,False,False,False,False,False,False,False,False,False
2495,2495,9200,nissan,2018,34553.0,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,...,True,False,False,False,False,False,False,False,False,False
2496,2496,9200,nissan,2018,31594.0,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,...,True,False,False,False,False,False,False,False,False,False
2497,2497,9200,nissan,2018,32557.0,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,...,False,False,False,False,False,False,False,False,False,False
2498,2498,9200,nissan,2018,31371.0,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,...,True,False,False,False,False,False,False,False,False,False

## K-1 HOT ENCODER

In [7]:
pd.get_dummies(df,columns=['model','title_status','color',],drop_first = True)

,Unnamed: 0,price,brand,year,mileage,vin,lot,state,country,condition,...,color_silver,color_super black,color_tan,color_toreador red,color_triple yellow tri-coat,color_turquoise,color_tuxedo black metallic,color_white,color_white platinum tri-coat metallic,color_yellow
0,0,6300,toyota,2008,274117.0,jtezu11f88k007763,159348797,new jersey,usa,10 days left,...,False,False,False,False,False,False,False,False,False,False
1,1,2899,ford,2011,190552.0,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,...,True,False,False,False,False,False,False,False,False,False
2,2,5350,dodge,2018,39590.0,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,...,True,False,False,False,False,False,False,False,False,False
3,3,25000,ford,2014,64146.0,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,...,False,False,False,False,False,False,False,False,False,False
4,4,27700,chevrolet,2018,6654.0,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,2019,23609.0,3n1cn7ap9kl880319,167722715,california,usa,1 days left,...,False,False,False,False,False,False,False,False,False,False
2495,2495,9200,nissan,2018,34553.0,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,...,True,False,False,False,False,False,False,False,False,False
2496,2496,9200,nissan,2018,31594.0,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,...,True,False,False,False,False,False,False,False,False,False
2497,2497,9200,nissan,2018,32557.0,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,...,False,False,False,False,False,False,False,False,False,False
2498,2498,9200,nissan,2018,31371.0,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,...,True,False,False,False,False,False,False,False,False,False

## One Hot Encoding Using Sklearn

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size = 0.2,random_state = 0)

In [9]:
X_train.head()

      Unnamed: 0  price  brand    model
286          286   7340   ford    doors
1495        1495  43600   ford    f-150
40            40  12710    gmc     door
1106        1106  33000  dodge  durango
1379        1379  30200   ford    f-150

In [10]:
from sklearn.preprocessing import OneHotEncoder

## ONE HOT ENCODING WITH TOP CATEGORIES

In [11]:
ohe = OneHotEncoder(drop='first')

In [12]:
ohe.fit_transform(X_train[['price','brand','model']])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5932 stored elements and shape (1999, 851)>

In [13]:
X_train_new = ohe.fit_transform(X_train[['price','brand','model']]).toarray()

X_train_new

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [14]:
X_test_new = ohe.fit_transform(X_test[['price','brand','model']]).toarray()
X_test_new

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
np.hstack((X_train[['brand','model']].values,X_train_new)).shape

(1999, 853)

## ONE HOTENCODING WITH TOP CATEGORIES

In [16]:
counts = df['brand'].value_counts()
counts

brand
ford               1235
dodge               432
nissan              312
chevrolet           297
gmc                  42
jeep                 30
chrysler             18
bmw                  17
hyundai              15
buick                13
kia                  13
infiniti             12
honda                12
mercedes-benz        10
cadillac             10
heartland             5
audi                  4
land                  4
peterbilt             4
acura                 3
mazda                 2
lexus                 2
lincoln               2
toyota                1
harley-davidson       1
jaguar                1
maserati              1
ram                   1
Name: count, dtype: int64

In [17]:
df['brand'].nunique()
threshold = 100

In [18]:
repl = counts[counts <= threshold].index

In [19]:
pd.get_dummies(df['brand'].replace(repl,'uncommon'))

      chevrolet  dodge   ford  nissan  uncommon
0         False  False  False   False      True
1         False  False   True   False     False
2         False   True  False   False     False
3         False  False   True   False     False
4          True  False  False   False     False
...         ...    ...    ...     ...       ...
2494      False  False  False    True     False
2495      False  False  False    True     False
2496      False  False  False    True     False
2497      False  False  False    True     False
2498      False  False  False    True     False

[2499 rows x 5 columns]